<section class="comments-block"></section>
<section id="disqus_thread"></section>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
      if (window.location.hostname == "localhost")
          return;

      var disqus_loaded = false;
      var disqus_shortname = '{{ .Site.DisqusShortname }}';

      var d = document, s = d.createElement('script');
      s.src = "//" + disqus_shortname + ".disqus.com/embed.js";
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
})();

</script>