{{ define "main" }}
  <div>
  	<h2>Hey there stranger!</h2>
  	<h3>
  		$ whoami
  	</h3>
  	<p>
  		<b>Name:</b> Muhammad Usman <br>
  		<b>Education:</b> B. Tech. 3rd Year - Computer Science and Engineering <br>
  		<b>University:</b> PES University <br>
  		<b>Interests:</b> Mathematics, Programming, Avid Cricket Follower <br>
  		<b>Programming Languages:</b> Python, C, Java, Javascript<br>
  		<b>Frontend Frameworks:</b> Bootstrap, Material CSS, Vue JS <br>
  		<b>Web Development Frameworks:</b> Django, Flask, Springboot<br>
  		<b>ML and NLP Frameworks:</b> Numpy, NLTK, Tensorflow, TensorflowJS<br>
  		<b>Operating System:</b> Linux (Ubuntu) <br>
  		<b>Miscellaneous:</b> Git, Docker<br>
  	</p>
<!-- 
  	<h3>
  		$ awards
  	</h3>
  	<p>
  		<b>Distinction Award:</b> 1st Semester <br>
  		<b>Distinction Award:</b> 3rd Semester <br>
  		<b>Distinction Award:</b> 4th Semester <br>
  		<b>Distinction Award:</b> 5th Semester <br>
  	</p>
 -->
  	<a href="https://github.com/usmanmuhd"><b>Check out my projects on GitHub</b></a><br>
  	<a href="/posts/"><b>Head over to my blog</b></a>
  </div>

{{ end }}