{{ define "main" }}
<div>
  <h2>Muhammad Usman</h2>

  <p>
    <b>Education:</b> B. Tech. 3rd Year - Computer Science and Engineering <br>
    <b>University:</b> PES University <br>
    <b>Interests:</b> Mathematics, Programming <br>
    <b>Programming Languages:</b> Python, C, Java, Javascript<br>
    <b>Frontend Frameworks:</b> Bootstrap, Material CSS, Vue JS <br>
    <b>Web Development Frameworks:</b> Django, Flask, Springboot<br>
    <b>ML and NLP Frameworks:</b> Numpy, NLTK, Tensorflow, TensorflowJS<br>
    <b>Operating System:</b> Linux (Ubuntu) <br>
    <b>Miscellaneous:</b> Git, Docker<br>
  </p>

  <p>
    <a href="https://phabricator.wikimedia.org/T218971" target="_blank">
      <h3>Google Summer of Code 2019 with Wikimedia Foundation</h3>
    </a>
  </p>
  <a href="https://github.com/usmanmuhd"><b>Check out my projects on GitHub</b></a><br>
</div>

{{ end }}
