{{ define "main" }}



    {{ $baseurl := .Site.BaseURL }}


    {{ if eq .Title "Posts" }}
        <section id="home">
        <b><a href="/categories"><em>Categories</em></a> | <a href="/tags"><em>Tags</em></a></b>
        <ul>
          {{ range $index, $page := first 10 (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
          <li {{if eq $index 0}}class="first"{{end}}>
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1> 
            {{ partial "aside" . }}
            <!--<p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more&hellip;</a>
            {{ end }}-->
          </li>
          {{ end }}
        </ul>
      </section>
    
    {{ else }}

    <section id="list">
    {{ if eq .Data.Singular "tag" }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}

    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}

    <h3>{{ .Key }}</h3>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
            <time class="date-meta">{{ .Date.Format "Jan 2" }}</time>
        </li>
        {{ end }}
    </ul>
    
    {{ end }}
    {{ end }}
</section>

{{ template "_internal/pagination.html" . }}

{{ end }}